@import "../../styles.scss";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem $app-body-gap-inline;
  background-color: #0D1117;
  border-bottom: $app-border-color 1px solid;

  h1 {
    font-size: 2.125rem;
    font-weight: 400;
    color: $app-text-color;
  }

  .right-block {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;

    input {
      outline: none;
      height: 3rem;
      width: 30rem;
      padding: 0.5rem 1.25rem;
      background-color: $app-input-bg-color;
      border-radius: 9999px;
      border: none;
      font-size: 1.125rem;
      color: $app-text-color;
    }

    input::placeholder {
      color: #9CA3AF;
    }

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      background: linear-gradient(60deg, #1E40AF4D, #1E40AFCC);
      border-radius: 9999px;
      font-size: 1.25rem;
      font-weight: 500;
      color: white;
    }
  }
}
