.app-policies {
  padding-left: 0.875rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  overflow: hidden;
  cursor: grab;
  scroll-behavior: smooth;
  user-select: none;

  &.dragging {
    cursor: grabbing;
  }

  .policy-card {
    flex: 1 1 0;
    min-width: 280px;

    &:last-child {
      margin-right: 2.25rem;
    }
  }
}

::ng-deep.p-card-body {
  padding-right: 0 !important;
}

