<p-card>
  <div class="app-performance-card"
       [style]="{ minHeight: !!barLength ? 'auto' : '220px' }">
    <div>
      <div class="card-title">
        <h3>{{ performanceData.title }}</h3>
        @if (performanceData.rating) {
          <div class="card-rating">
            @for (_ of getDots(performanceData.rating); let i=$index; track i) {
              <span class="dot"></span>
            }
          </div>
        }
      </div>

      @if (!barLength) {
        <div class="card-value">
          <span class="value">{{ performanceData.value }}</span>
          <span class="description">{{ performanceData.description }}</span>
        </div>
      }
    </div>


    @if (!!barLength) {
      <div class="card-bars">
        @for (bar of performanceData.bars; track bar) {
          <app-simple-target-bar [data]="bar" [highlight]="true"></app-simple-target-bar>
        }
      </div>
    } @else {
      <a class="link" [href]="performanceData.link">
        {{ performanceData.linkTitle }} <i class="pi pi-icon pi-arrow-right" [style]="{ fontSize: '0.75rem' }"></i>
      </a>
    }
  </div>
</p-card>
