@import "../../../styles.scss";

.app-communication {
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.875rem;
    margin-bottom: 1.25rem;

    input {
      width: 15.625rem;
      height: 1.75rem;
      padding: 0.5rem 1rem;
      background-color: $app-sub-card-bg-color;
      font-size: 0.9rem;
      color: $app-sub-text-color;

      &::placeholder {
        color: rgba($app-placeholder-color, 0.5);
      }
    }

    .toolbar {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .btn {
        padding-inline: 1rem;
        min-width: 6.25rem;
        height: 1.75rem;
        background-color: transparent;
        border: 1px solid $app-main-blue-color;
        border-radius: 9999px;
        color: $app-main-blue-color;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: $app-main-blue-color;
          color: white;
        }
      }
    }
  }

  .message-container  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding-right: 1.5rem;

    .message-card-wrapper {
      width: calc(50% - 0.75rem);
    }
  }
}
