<p-card class="app-communication" [style]="{'width': '100%', 'padding-bottom': '1.5rem'}">
  <div class="header">
    <span class="input-filter">
      <input
        type="text"
        pInputText
        placeholder="Search"
        (input)="onFilterMessages($event)"
      />
    </span>

    <div class="toolbar">
      <button class="btn">Filter</button>
      <button class="btn">Group</button>
    </div>
  </div>

  <div class="message-container" [appAutoHeight]="filteredMessages">
    @for (message of filteredMessages; track message.id) {
      <div class="message-card-wrapper">
        <app-message-card [message]="message"></app-message-card>
      </div>
    }
  </div>
</p-card>
