<p-card class="app-market-card"
        [style]="{ width: 'var(--top-right-column-width)',
                   height: 'calc(var(--top-row-height) - var(--top-right-column-height) - var(--layout-gap)' }">
  <h2>Market intelligence</h2>
  <div class="content">
    <ul class="market-list">
      @for (item of items; track item) {
        <li class="market-item">
          <span class="bullet" [ngClass]="item.color"></span>
          <span class="text">{{ item.text }}</span>
        </li>
      }
    </ul>
  </div>
</p-card>
