<p-card class="app-policies-grid" [style]="{'width': '100%'}">
  <div class="header">
    <span class="input-filter">
      <input type="text"
             pInputText
             placeholder="Search"
             (input)="onFilterTable($event)"/>
    </span>

    <div class="toolbar">
      <button class="btn">Filter</button>
      <button class="btn">Group</button>
    </div>
  </div>

  <div class="content">
    <p-table #table
             [value]="policies"
             [globalFilterFields]="policyFields"
             stripedRows
             [scrollable]="true">
      <ng-template #header>
        <tr>
          @for (col of columns; let i=$index; track i) {
            <th>{{ col }}</th>
          }
        </tr>
      </ng-template>

      <ng-template #body let-policy>
        <tr>
          <td>
            <div class="policy-name">
              <span class="icon-bg {{ policy.color }}">
                <span class="icon" [innerHTML]="policy.icon"></span>
              </span>
              <b>{{ policy.name }}</b>
            </div>
            <div class="policy-number">{{ policy.policyNumber }}</div>
          </td>
          <td>{{ policy.effDate }}</td>
          <td>{{ policy.expDate }}</td>
          <td>
            <div class="policy-status">
              <span class="dot" [ngClass]="policy.status === 'Active' ? 'green' : 'yellow'"></span>
              {{ policy.status }}
            </div>
          </td>
          <td>{{ policy.expiringTech | currencyFormat }}</td>
          <td>{{ policy.expiringPremium | currencyFormat }}</td>
          <td>{{ policy.renewalToTech | currencyFormat }}</td>
          <td>{{ policy.renewalTech | currencyFormat }}</td>
          <td><b>{{ policy.renewalPremium | currencyFormat }}</b></td>
          <td>
            @if (policy.rateChange != null) {
              <span [ngClass]="{'warm': policy.rateChange >= 5 && policy.rateChange <= 10}">
                {{ policy.rateChange }}%
              </span>
            } @else {
              N/A
            }
          </td>
          <td>
            @if (policy.lossRatio != null) {
              <p-tag class="policy-ratio {{getRatioColor(policy.lossRatio)}}"
                     [value]="policy.lossRatio"
                     rounded></p-tag>
            } @else {
              N/A
            }
          </td>
          <td>
            <p-button icon="pi pi-ellipsis-v"
                      class="actions"
                      styleClass="actions-button"
                      [rounded]="true"
                      [outlined]="true"
                      (click)="showMenu($event, policy)"/>
          </td>
        </tr>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td colspan="4">
            <div class="policies-total"><b>Total ({{ policies?.length }})</b></div>
          </td>
          <td>
            <b>{{ policies | sumColumn: 'expiringTech' | currencyFormat }}</b>
          </td>
          <td>
            <b>{{ policies | sumColumn: 'expiringPremium' | currencyFormat }}</b>
          </td>
          <td>
            <b>{{ policies | sumColumn: 'renewalToTech' | currencyFormat }}</b>
          </td>
          <td>
            <b>{{ policies | sumColumn: 'renewalTech' | currencyFormat }}</b>
          </td>
          <td>
            <b>{{ policies | sumColumn: 'renewalPremium' | currencyFormat }}</b>
          </td>
          <td>
            <b>6.9%</b>
          </td>
          <td>
            <p-tag class="policy-ratio {{getRatioColor(58.3)}}"
                   [value]="'58.3'"
                   rounded></p-tag>
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>

<p-menu #menu [model]="tableActions" [popup]="true" styleClass="trigger-menu" />
