@import "../../../styles.scss";

.app-portfolio-goals {
  h2 {
    margin-right: 0.875rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .content {
    margin-top: 1.75rem;

    .goals-container {
      background-color: #0d1117;
      color: white;
      padding: 1.5rem;
      border-radius: 1rem;
      width: 100%;
      max-width: 350px;
      border: 1px solid #1f2937;

      .title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }

      .goal-section {
        margin-bottom: 1.75rem;

        .label {
          font-size: 0.9rem;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }

        .loss-bar,
        .retention-bar {
          position: relative;
          height: 20px;
          border-radius: 9999px;
          overflow: hidden;
          background: #1f2937;
          display: flex;

          .bar {
            height: 100%;

            &.green {
              background-color: #3bb979;
            }

            &.red {
              background-color: #b93b3b;
              flex-grow: 1;
            }

            &.yellow {
              background-color: #fdd261;
            }
          }

          .indicator {
            position: absolute;
            top: -1.5rem;
            left: 45%;
            font-size: 0.85rem;
            font-weight: 600;

            &.yellow-text {
              color: #fdd261;
            }
          }

          .sub-label {
            text-align: center;
            font-size: 0.75rem;
            margin-top: 0.4rem;
            color: #3bb979;

            &.good {
              color: #3bb979;
            }
          }
        }

        .progress-row {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .current,
          .target {
            font-size: 0.85rem;
            font-weight: 600;
            white-space: nowrap;
          }

          p-progressBar {
            flex-grow: 1;
            height: 10px;

            ::ng-deep .p-progressbar {
              border-radius: 9999px;
              background-color: #374151;
            }

            ::ng-deep .p-progressbar-value {
              background: #3b82f6;
            }
          }
        }

        .percent-label {
          text-align: left;
          font-size: 0.75rem;
          color: #9ca3af;
          margin-top: 0.2rem;
        }
      }
    }

  }
}
