@import "../../../styles.scss";

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: $app-text-color;
}

.performance-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
