<div class="app-policy-card">
  <div class="policy-title">
    <span class="icon {{ policyCard.color }}" [innerHTML]="policyCard.icon"></span>
    <h3>{{ policyCard.name }}</h3>
  </div>
  <div class="policy-fields">
    <ul>
      <li>
        <span class="field-label">Premium:</span>
        <span class="field-value">{{ policyCard.expiringPremium }}</span>
      </li>
      <li>
        <span class="field-label">Eff. Date::</span>
        <span class="field-value">{{ policyCard.effDate }}</span>
      </li>
    </ul>
  </div>
</div>
