<div class="target-bar">
  <div class="bar-title">{{ barData.title }}</div>

  <div class="bar-row">
    <div class="bar-container">
      <div class="bar-fill"
          [style]="{ width: barData.percent + '%' }">
        <span class="value-inside">{{ barData.value }}</span>
      </div>
    </div>
    <span class="label target-label">{{ barData.target }}</span>
  </div>

  <div class="percent-label" [style]="{ left: barData.percent + '%' }">
    {{ barData.percentLabel || (barData.percent + '%') }}
  </div>
</div>
