@import "primeicons/primeicons.css";

:root {
  --layout-gap: 1rem;
  --top-row-height: 550px;
  --top-right-column-width: 285px;
  --top-right-column-height: 242px;
  --text-color: #E5E7EB;
  --text-muted-color: #8A8B98;
  --main-blue-color: #3B82F6;
  --main-yellow-color: #FDD261;
}

$app-body-bg-color: #0D1117;
$app-border-color: #313B54;
$app-card-bg-color: #1E2233;
$app-sub-card-bg-color: #FFFFFF05;
$app-bar-bg: #313853;

$app-body-gap-inline: 9rem;

$app-text-color: var(--text-color);
$app-sub-text-color: #94A3B8;
$app-description-color: var(--text-muted-color);
$app-placeholder-color: #596275;

$app-main-blue-color: var(--main-blue-color);
$app-main-green-color: #3BB979;
$app-main-yellow-color: var(--main-yellow-color);
$app-main-red-color: #B93B3B;
$app-main-purple-color: #6A3BF6;
$app-main-deep-blue-color: #1E40AF;

$app-nav-text-color: #C5CAD3;
$app-nav-btn-bg-color: #0C0F17;

$app-main-blue-hover-color: #4b8fff;

$app-status-compliance-min-height: 112px;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, button {
  font-family: 'Manrope', sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  background-color: $app-body-bg-color;
}

input {
  outline: none;
  background-color: $app-card-bg-color;
  border-radius: 9999px;
  border: none;
  color: $app-text-color;

  &::placeholder {
    color: $app-placeholder-color;
  }
}

/* PrimeNG */
.p-card {
  background-color: $app-card-bg-color !important;
  border-radius: 1.5rem !important;
  border: 1px solid $app-border-color;
  color: $app-text-color;
}

.p-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: $app-text-color;
}

.p-card-content {
  padding-top: 0.75rem;
  font-size: 0.95rem;
}

.p-datatable,
.p-datatable-thead > tr,
.p-datatable-tbody > tr,
.p-datatable-tfoot > tr {
  background-color: $app-card-bg-color !important;
}

.p-datatable-thead > tr > th,
.p-datatable-tbody > tr:nth-child(2n) {
  background-color: #FFFFFF05 !important;
}

.p-datatable-thead > tr > th,
.p-datatable-tbody > tr > td {
  font-weight: 200 !important;
  color: $app-text-color !important;
}

.p-datatable-thead > tr > th {
  padding-block: 0.5rem !important;
  font-size: 0.7rem;
  color: $app-sub-text-color !important;
  text-transform: uppercase;
}

.p-datatable-tfoot > tr > td {
  background-color: transparent !important;
}

.p-card-content {
  padding: 0;
}

.p-tag {
  padding: 0.25rem 0.75rem;
  min-width: 5.5rem;
  background-color: rgba($app-main-deep-blue-color, 0.3);
  font-size: 0.75rem;
  font-weight: 500;
  color: $app-text-color;

  &.outlined {
    min-width: 2.75rem;
    padding-inline: 0.5rem;
    background-color: transparent;
    border: 1px solid $app-main-blue-color;
    color: $app-main-blue-color;
  }
}

.p-avatar {
  background: linear-gradient(60deg, rgba($app-main-deep-blue-color, 0.3), rgba($app-main-deep-blue-color, 0.8));
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}

.actions-button {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-color: $app-text-color !important;
  color: $app-text-color !important;

  .p-button-icon {
    font-size: 0.7rem !important;
  }
}

.trigger-menu {
  background-color: $app-card-bg-color !important;
  border-color: $app-border-color !important;
  font-size: 0.85rem;
  font-weight: 200 !important;
  color: $app-text-color !important;

  a:hover {
    background-color: rgba($app-main-blue-color, 0.1) !important;
  }
}
