@import "../../styles.scss";

.app-account-general {
  margin-inline: $app-body-gap-inline;

  section {
    margin-top: 2rem;
    margin-bottom: 3rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 500;
      color: $app-text-color;
    }
  }
}
