@import "../../styles.scss";

.app-account-general {
  margin-inline: $app-body-gap-inline;

  .skeleton {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2rem;

    .flex {
      display: flex;
      gap: 1.5rem;

      &.flex-column {
        flex-direction: column;
        align-items: flex-start;
      }

      &.gap-small {
        gap: 1rem;
      }
    }

  }

  section {
    margin-top: 2rem;
    margin-bottom: 3rem;

    h1 {
      display: flex;
      align-items: baseline;
      gap: 1rem;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 500;
      color: $app-text-color;

      span {
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .link {
        font-size: 1rem;
        color: $app-main-blue-color;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          color: $app-main-blue-hover-color;
          text-decoration: none;
        }
      }
    }

    &.status-compliance {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      height: auto;

      .status,
      .compliance {
        min-width: 600px;
      }

      .status {
        flex: 2;
      }

      .compliance {
        flex: 1;
      }
    }
  }
}
